on:
 push:
  branches:
    - main
  paths-ignore:
    - '**.md'

jobs:
  publish:
    if: contains(github.event.head_commit.message, 'release')
    name: Publish GitHub Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 18

      - name: Install Dependencies
        run: yarn install
        
      - name: Publish Semantic Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release
